@import "base.css";
@import "header.css";
@import "Footer.css";






.clearfix::after {
    display: block;
    content: '';
    clear: both;
}





/*.content-con {*/
    /*width: 1024px;*/
    /*margin: auto;*/
    /*background-color: #fff;*/
    /*padding: 117px 60px 54px 61px;*/
/*}*/

.article {
    vertical-align: top;
    width: 640px;
    display: inline-block;
}

.picture {
    margin-right: 24px;
    float: left;
    width: 360px;
    height: 281px;
    margin-bottom: 23px;
}

.text {
    text-align: justify;
    font-size: 13px;
}

.sub-title1 {
    font-size: 15px;
    margin-bottom: 15px;
}

.sub-title2 {
    font-size: 15px;
    margin-bottom: 14px;
}

.sub-title-text {
    float: left;
}

.sub-title1, .sub-title-text2 {
    padding-left: 24px;
}

.aside {
    display: inline-block;
    margin-left: 22px;
}
.aside-h2 {
    padding-left: 38px;
}

.title {
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    margin-bottom: 48px;
}
.aside-h3 {
    margin-bottom: 23px;
}

.text-li {
    margin-bottom: 31px;
    float: left;
}

.sub-title-text2 {
    width: 635px;
}

.list {
    list-style: none;
    counter-reset: list;
    width: 230px;
}

.list-item:before {
    display: inline-block;
    counter-increment: list;
    content: counter(list);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: deepskyblue;
    color: #fefefe;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}

article {
    float: left;
    width: calc(100% - 40px);
}

.list-article-item {
    margin-bottom: 25px;
}

.list-item {
    font-size: 14px;
    color: #263555;
    line-height: 19px;
    margin-bottom: 18px;
}

.list2 {
    vertical-align: top;
    list-style: none;
}

.list-item2:last-child {
    margin-bottom: 0;
}

.list-item2 {
    font-size: 14px;
    color: #263555;
    line-height: 19px;
    margin-bottom: 18px;
}

.sub-title3 {
    width: 636px;
    font-size: 15px;
    margin-bottom: 25px;
}



.article-text {
    width: 640px;
    margin-bottom: 33px;
}

.list2>li:before{
    content:"\2192  ";
    color: aqua;
}

.pic {
    width: 211px;
    height: 219px;
    border: 1px solid black;
}

.link {
    display: block;
}

.aside2 {
    position: relative;
    float: right;
}

.ul2 {
    float: left;
    margin-right: 43px;
}

.article2 {
    float: left;
    width: 640px;
}

ul {
    display: inline-block;
}

.content2 {
    /*padding: 58px 0 88px 0;*/

}

h4 {
    margin-top: 36px;
    text-align: center;
}

.text-aside {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
}

.pic-text {
    position: absolute;
    background: #fcfafa;
    bottom: 113px;
    width: 211px;
    height: 223px;
    padding: 22px 21px 49px 23px;
    z-index: 2;
}

.pic-text:after {
    content:"\"";
    color: #697689;
}

.pic-text:before {
    content:"\"";
    color: #10078;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fcfafa;
}

.arrow-down {
    position: relative;
    bottom: 93px;
    left: 87px;
    z-index: 9;
}

article:last-child {
    margin-bottom: 0;
}