@font-face {
    font-family: "HammersmithOne.ttf";
    src: url("fonts/HammersmithOne.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: auto;
}

.section1 {
    background-image: url("img/section1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 15px 0;
}

.img-overlay{
    background-image: url("img/overlay.png");
    opacity: .9;
    height: auto;
}

.header {
    width: 970px;
    margin: auto;
    padding-top: 15px;
}

.bg-VectorSmart {
    width: 44px;
    height: 50px;
    background: url('img/css_sprites.png') -559px -10px;
}

.span {
    margin-left: 60px;
}

.logo {
    display: flex;
    justify-content: space-between;
    text-transform: none;
    color: #00e0d0;
    font-size: 40px;
    width: 50px;
}

.logo:hover {
    transform: rotate(360deg);
    transition: all 1s ease-out;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: space-between;
    /*align-items: flex-start;*/
    height: 30px;
    width: 70%;
    list-style: none;
}

.link {
    display: block;
    width: 100%;
    padding: 15px 15px;
    font-weight: 700;
    text-align: center;
    font-family: Roboto,sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.link:hover {
    color: #00e0d0;
}

.article {
    margin: auto;
    width: 771px;
    text-align: center;
}

.border {
    border: 1px solid #00e0d0;
    width: 50px;
    margin: 0 auto 30px;
}

.h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-transform: capitalize;
    margin-top: 163px;
    margin-bottom: 32px;

}

.text {
     font-family: Roboto,sans-serif;
    line-height: 1.714;
    font-size: 17px;
    margin-bottom: 50px;
 }

.buttom {
    font-family: "HammersmithOne.ttf";
    font-size: 16px;
    color: #00e0d0;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
 }

.a {
    display: inline-block;
    padding: 15px 15px 15px 16px;
    border: 2px solid #00e0d0;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0;
    width: 60px;
}

.bg-active_dot {
    width: 10px; height: 10px;
    background: url('img/css_sprites.png') -515px -310px;
}

.bg-dot1 {
    width: 10px; height: 10px;
    background: url('img/css_sprites.png') -485px -310px;
}

.bg-dot2 {
    width: 10px; height: 10px;
    background: url('img/css_sprites.png') -455px -310px;
}

.bg-dot3 {
    width: 10px; height: 10px;
    background: url('img/css_sprites.png') -355px -184px;
}
/*--------------------------------2*/

.section2 {
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.article2 {
    margin-left: 100px;
    width: 571px;
}

.bg-Replace {
    width: 235px; height: 229px;
    background: url('img/css_sprites.png') -10px -10px;
}

.text1 {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    color: rgba(65, 61, 75,.7);
    font-weight: 300;
    line-height: 1.571;
}
.text2 {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
    color: rgba(65, 61, 75,.7);
    font-weight: 300;
    line-height: 1.571;
}
.h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 28px;
    color: rgba(65, 61, 75, .9);
    font-weight: 700;
}
/*---------------------------------3*/
.section3 {
    position: relative;
    margin: auto;
}

#video-bg {
    overflow: hidden;
    z-index: 1;
    background: url(bg/section3.png) no-repeat #94a233;
    background-size: cover;
}

#video-bg > video {

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@supports (object-fit: cover) {
    #video-bg > video {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
}

.bg-play {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 37px; height: 45px;
    background: url('img/css_sprites.png') -559px -150px;
}

.bg-outline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; height: 100px;
    background: url('img/css_sprites.png') -265px -10px;
}

.h4 {
    font-family: Roboto,sans-serif;
    color: #fff;
    position: absolute;
    margin-left: 8px;
    top: 65%;
    left: 45%;
}
/*----------------------------------4*/
.section4 {
    padding: 72px 0 68px;
    margin: auto;
}
.box {
    text-align: center;
    width: 33%;
    height: 266px;
    border: 1px solid #ebebeb;
    padding: 30px 25px;
}

.b1{
    border: 0;
}

.b2 {
    border-top: 0;
    border-bottom: 0;
}

.b3 {
    border: 0;
}

.b4 {
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
}

.b5 {
    border-bottom: 0;
}

.b6 {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.header2 {
    text-align: center;
}

.body {
    display: flex;
    flex-wrap: wrap;
}

.box-logo {
    display: inline-block;
}

.header2-h4 {
    font-family: Roboto,sans-serif;
    color: rgba(65, 61, 75, .9);
    margin-bottom: 25px;
    font-size: 14px;
}

.header2-h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 16px;
}

.text4 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 18px;
    color: #c6c4c9;
}

.text5 {
    font-family: Roboto,sans-serif;
    color: rgba(65, 61, 75,.7);
    line-height: 1.5;
}

.bg-TV {
    width: 49px; height: 50px;
    background: url('img/css_sprites.png') -293px -259px;
}

.bg-pen {
    width: 50px; height: 42px;
    background: url('img/css_sprites.png') -80px -435px;
}

.bg-telef {
    width: 28px; height: 50px;
    background: url('img/css_sprites.png') -559px -215px;
}

.bg-time {
    width: 50px; height: 50px;
    background: url('img/css_sprites.png') -475px -220px;
}

.bg-game {
    width: 41px; height: 50px;
    background: url('img/css_sprites.png') -559px -80px;
}

.bg-hart {
    width: 50px; height: 46px;
    background: url('img/css_sprites.png') -10px -435px;
}

.box-logo {
    margin-bottom: 35px;

}

.header2:after {
    content: "";
    display: block;
    border: 1px solid #c6c4c9;
    width: 50px;
    margin: 0 auto 30px;
}

/*------------------5*/

.section5 {
    background-image: url("img/section5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

.img-overlay2 {
    height: 712px;
    background-image: url("img/overlay.png");
    opacity: .9;
}

.header5 {
    font-family: 'Playfair Display', serif;
    padding-top: 71px;
}

.header5-h3{
    font-family: 'Playfair Display', serif;
    margin-bottom: 16px;
    font-size: 22px;
}

.border5 {
    border: 2px solid #655c80;
    width: 50px;
    margin: 0 auto 47px;
}

.text6 {
    font-family: Roboto,sans-serif;
    margin-bottom: 24px;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 955px;
    margin: 0 auto 50px;

}

.header5-img {
    display: block;
    width: 100%;
    height: 229px;
    border: 1px solid #00e0d0;
    background: #fff;
}
.box5 {
    width: 220px;
    border: 1px solid #fff;
}

.text-img {
    font-family: Roboto,sans-serif;
    display: block;
    text-transform: uppercase;
    line-height: 2;
    font-size: 13px;
    padding: 21px 46px 28px;
}
.span5 {
    display: block;
}


.buttom-a {
    font-family: "HammersmithOne.ttf";
    display: inline-block;
    padding: 15px 15px 15px 16px;
    border: 2px solid #00e0d0;
}
/*------------------6*/

.section6 {
    padding: 45px 0;

    text-align: center;
}
.main2 { display: flex;
    flex-wrap: wrap;
}

.box-section6 {
    width: 266px;
    height: 200px;
}

.boxx1, .boxx5, .boxx8, .boxx12 {
    background: #b6b6b6;
}

.boxx2, .boxx11 {
    background: #acacac;
}

.boxx3, .boxx6, .boxx10 {
    background: #a1a1a1;
}

.boxx4, .boxx9 {
    background: #8a8a8a;
}

.boxx7 {
    background: #a4a4a4;
}

.header6-a {
    font-family: "HammersmithOne.ttf";
    display: inline-block;
    padding: 15px 15px 15px 16px;
    border: 1px solid #00e0d0;
    margin-top: 35px;
}

.header6 {
    display: flex;
    justify-content: space-between;
    width: 930px;
    margin: 70px auto;
}

.header6-h3 {
    font-family: 'Playfair Display', serif;
  color: rgba(65, 61, 75, 255);
}

.text7 {
    font-family: Roboto,sans-serif;
    color: rgba(65, 61, 75, 255);
}
/*-------------------7*/

.section7 {
    background-image: url("img/section7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #fff;
    text-align: center;
}

.img-overlay3 {
    height: 600px;
    background-image: url("img/overlay.png");
    opacity: .9;
}

.bg-quit {
    width: 32px; height: 26px;
    background: url('img/css_sprites.png') -559px -340px;
    margin: 0 auto 42px;
}

.bg-left {
    width: 11px;
    height: 21px;
    background: url('img/css_sprites.png') -514px -147px;
}

.bg-1 {
    width: 45px; height: 45px;
    background: url('img/css_sprites.png') -205px -501px;
}

.bg-2 {
    width: 45px; height: 45px;
    background: url('img/css_sprites.png') -10px -501px;
}

.bg-3 {
    width: 70px; height: 70px;
    background: url('img/css_sprites.png') -385px -220px;
}

.bg-4 {
    width: 45px; height: 45px;
    background: url('img/css_sprites.png') -75px -501px;
}

.bg-5 {
    width: 45px; height: 45px;
    background: url('img/css_sprites.png') -140px -501px;
}

.bg-right {
    width: 11px; height: 21px;
    background: url('img/css_sprites.png') -510px -349px;
}

.footer7 {
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.header7 {
    padding:  70px 415px 45px;
}

.header7-h4 {
    font-family: Roboto,sans-serif;
    margin-bottom: 13px;
}

.text8 {
    font-family: 'Playfair Display', serif;
    margin: 50px;
    font-size: 16px;
    line-height: 2;
}
.text9 {
    font-family: Roboto,sans-serif;
}
/*--------------------8*/

.section8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 88px 0;
    height: 654px;
}

.box-form {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}

.box-form2 {
    flex-basis: 21%;
}


.aside {
    display: flex;
    flex-wrap: wrap;
    /*flex-basis: 37%;*/
    height: 475px;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
}

.input-text, .input-email {
    height: 30px;
}

.link2 {
    display: block;
    /*display: flex;*/
    /*flex-basis: 50%;*/
    /*justify-content: space-between;*/
    /*margin: 10px 48px 20px 0;*/
}

.bg-11 {
    width: 162px; height: 22px;
    background: url('img/css_sprites.png') -10px -349px;
}

.bg-12 {
    width: 154px; height: 41px;
    background: url('img/css_sprites.png') -385px -10px;
}

.bg-13 {
    width: 151px; height: 24px;
    background: url('img/css_sprites.png') -10px -391px;
}

.bg-14 {
    width: 113px; height: 69px;
    background: url('img/css_sprites.png') -160px -259px;
}

.bg-15 {
    width: 109px; height: 53px;
    background: url('img/css_sprites.png') -385px -147px;
}

.bg-16 {
    width: 138px; height: 22px;
    background: url('img/css_sprites.png') -192px -349px;
}

.bg-17 {
    width: 140px; height: 21px;
    background: url('img/css_sprites.png') -350px -349px;
}

.bg-18 {
    width: 95px; height: 34px;
    background: url('img/css_sprites.png') -265px -130px;
}

.bg-19 {
    width: 114px; height: 56px;
    background: url('img/css_sprites.png') -385px -71px;
}

.bg-20 {
    width: 130px; height: 70px;
    background: url('img/css_sprites.png') -10px -259px;
}
.link2 {
    display: block;
}

.text10 {
    text-transform: uppercase;

}

.input-text, .input-email {
    height: 35px;
}
.buttom8 {
    font-size: 16px;
    padding: 5px 5px;
    border: 1px solid #00e0d0;
    height: 35px;
    width: 100px;
    color: #00e0d0;
}

/*------------------9*/

/*footer:after {*/
    /*content: '';*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: url('img/overlay.png');*/
    /*background-size: cover;*/
    /*position: absolute;*/
    /*z-index: -1;*/
/*}*/

/*footer .wrapper {*/
    /*flex-direction: column;*/
/*}*/

/*.footer-info {*/
    /*margin: 0 0 33px 0;*/
/*}*/

/*.footer-info,*/
/*.footer-nav {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
/*}*/

/*.footer-info section,*/
/*.footer-info address {*/
    /*flex-basis: 30%;*/
    /*color: var(--color-1);*/
/*}*/

/*.footer-info address p {*/
    /*position: relative;*/
    /*padding: 0 0 0 30px;*/
/*}*/

/*.footer-info address p:nth-child(2):before,*/
/*.footer-info address p:nth-child(3):before {*/
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 17px;*/
    /*height: 19px;*/
    /*background: url("../img/css-sprites-other.png") -55px -10px;*/
/*}*/

/*.footer-info address p:nth-child(3):before {*/
    /*background: url("../img/css-sprites-other.png") -90px -10px;*/
/*}*/

/*.footer-info form {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*margin: 0 0 27px 0;*/
/*}*/

/*.footer-info input[type='email'] {*/
    /*height: 45px;*/
    /*background: none;*/
    /*border: 1px solid rgba(255,255,255,.5);*/
    /*padding: 15px;*/
    /*flex-basis: 70%;*/
    /*font: 300 13px 'Roboto', sans-serif;*/
    /*color: var(--color-1);*/
/*}*/

/*.footer-info input[type='email']:focus {*/
    /*outline: none;*/
    /*border: 1px solid var(--color-3);*/
/*}*/

/*.footer-info button {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 45px;*/
    /*flex-basis: 25%;*/
    /*background-color: rgba(255,255,255,.5);*/
    /*border: none;*/
/*}*/

/*.footer-info button:before {*/
    /*content: '';*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*background: url("../img/css-sprites-other.png") -10px -10px;*/
/*}*/

/*.footer-info button:hover {*/
    /*background-color: rgba(255,255,255,.7);*/
    /*cursor: pointer;*/
/*}*/

/*!*.footer-info input[type='submit'] {*/
    /*height: 45px;*/
    /*border: none;*/
    /*flex-basis: 25%;*/
    /*background: rgba(255,255,255,.5) url(../img/css-sprites-other.png) no-repeat 25px 25px;*/

    /*overflow: hidden;*/
    /*cursor: pointer; !* hand-shaped cursor *!*/
/*}*/

/*.footer-info label {*/
    /*position: absolute;*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*background: url("../img/css-sprites-other.png") -10px -10px;*/
/*}*!*/

/*.footer-info input::placeholder {*/
    /*font: 300 13px 'Roboto', sans-serif;*/
    /*color: var(--color-1);*/
    /*opacity: .5;*/
/*}*/

/*.footer-info section h3,*/
/*.footer-info address h3 {*/
    /*margin: 18px 0 38px 0;*/
/*}*/

/*.footer-info .social-icons a {*/
    /*display: block;*/
    /*width: 35px;*/
    /*height: 35px;*/
    /*margin: 0 8px 0 0;*/
/*}*/

/*.footer-info .social-icons a:hover {*/
    /*opacity: .7;*/
/*}*/

/*.footer-info .social-icons li:nth-child(1) a {*/
    /*background: url('../img/css-sprites-social.png') -10px -10px;*/
/*}*/

/*.footer-info .social-icons li:nth-child(2) a {*/
    /*background: url('../img/css-sprites-social.png') -65px -10px;*/
/*}*/

/*.footer-info .social-icons li:nth-child(3) a {*/
    /*background: url('../img/css-sprites-social.png') -120px -10px;*/
/*}*/

/*.footer-info .social-icons li:nth-child(4) a {*/
    /*background: url('../img/css-sprites-social.png') -175px -10px;*/
/*}*/

/*.footer-info .social-icons li:nth-child(5) a {*/
    /*background: url('../img/css-sprites-social.png') -230px -10px;*/
/*}*/

/*.footer-info .social-icons li:nth-child(6) a {*/
    /*background: url('../img/css-sprites-social.png') -285px -10px;*/
/*}*/


/*}*/

/*.contacts ul li:nth-child(1) div {*/
    /*width: 114px;*/
    /*height: 56px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -437px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(2) difooter .logo {*/
    /*margin: 0 0 23px 0;*/
/*}*/

/*.footer-nav {*/
    /*justify-content: space-between;*/
    /*align-items: flex-end;*/
/*}*/

/*.footer-nav p {*/
    /*margin: 0;*/
    /*color: var(--color-1);*/
/*}*/

/*.footer-nav a {*/
    /*font-weight: 400;*/
/*}*/

/*.footer-nav ul,*/
/*.footer-info ul {*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

/*.footer-nav li {*/
    /*margin: 0 30px 0 0;v {*/
    /*width: 162px;*/
    /*height: 22px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -93px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(3) div {*/
    /*width: 154px;*/
    /*height: 41px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -233px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(4) div {*/
    /*width: 130px;*/
    /*height: 70px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -602px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(5) div {*/
    /*width: 151px;*/
    /*height: 24px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -135px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(6) div {*/
    /*width: 113px;*/
    /*height: 69px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -513px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(7) div {*/
    /*width: 140px;*/
    /*height: 21px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -10px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(8) div {*/
    /*width: 109px;*/
    /*height: 53px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -364px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(9) div {*/
    /*width: 95px;*/
    /*height: 34px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -179px;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*.contacts ul li:nth-child(10) div {*/
    /*width: 138px;*/
    /*height: 22px;*/
    /*background: url('../img/css-sprites-logos.png') -10px -51px;*/
    /*background-repeat: no-repeat;*/
/*}*/

